@tailwind base;
@tailwind components;
@tailwind utilities;

/* Eliminar arrows de input type=number en móvil */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* Suavizar taps en iOS */
button {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

html,
body {
  overscroll-behavior: none;
}
